.page-tetang-quotes {
  h1 {
    font-family: "Poppins";
    font-size: 38px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
  }

  span {
    color: $tanpabatasgreen;
  }
}
